<div class="education mainRows">
    <h2 class="mb-4">Educación</h2>
    <h3 class="mb-4">Carrera Desarrollador Full Stack (MERN) - Coderhouse</h3>
    <p class="mb-5">Curso de Desarrollo Web (Enero 2022 - Marzo 2022)<br><span>Top 10% Mejores Alumnos</span></p>
    <p class="mb-5">Curso de Javascript (Abril 2022 - Mayo 2022)</p>
    <p class="mb-5">Curso de ReactJS (Junio 2022 - Julio 2022)<br><span>Top 10% Mejores Alumnos</span></p>
    <p>Curso de Programación Backend (Octubre 2022 - En curso)</p>
</div>
