<div class="abilities mainRows">
    <h2 class="mb-4">Aptitudes</h2>
    <h3 class="mb-4">Tecnologías</h3>
    <div>
        <p class="mb-5"><img class="pe-3" src="assets/img/htmlLogo.png" alt="Logo HTML">HTML</p>
        <p class="mb-5"><img class="pe-3" src="assets/img/cssLogo.png" alt="Logo CSS">CSS</p>
        <p class="mb-5"><img class="pe-3" src="assets/img/bootstrapLogo.png" alt="Logo Bootstrap">Bootstrap</p>
        <p class="mb-5"><img class="pe-3" src="assets/img/javascriptLogo.png" alt="Logo Javascript">Javascript</p>
        <p class="mb-5"><img class="pe-3" src="assets/img/reactLogo.png" alt="Logo ReactJS">ReactJS</p>
        <p class="mb-5"><img class="pe-3" src="assets/img/figmaLogo.png" alt="Logo Figma">Figma</p>
        <p class="mb-5"><img class="pe-3" src="assets/img/firebaseLogo.png" alt="Logo Firebase">Firebase</p>
    </div>
    <h3 class="mb-4">Idiomas</h3>
    <p class="mb-5">Español (Nativo)</p>
    <p>Ingles (Intermedio)</p>
</div>
