<header class="row">
    <div class="col py-2 px-0 d-flex flex-row justify-content-start align-items-center">
        <img class="px-m-3" src="assets/img/argProgLogo.png" alt="Logo Argentina Programa">
    </div>
    <div class="col py-2 px-0 d-flex flex-row justify-content-end align-items-center">
        <a href="https://www.linkedin.com/in/mateo-chavez-b734a9235" class="mx-2 mx-sm-4"><img src="assets/img/linkedInLogo.png" alt="Logo Linked In"></a>
        <a href="https://www.instagram.com/mateo_chavez424" class="mx-2 mx-sm-4"><img src="assets/img/instagramLogo.png" alt="Logo Instagram"></a>
        <img class="mx-2 mx-sm-4" src="assets/img/userLogo.png" alt="Logo Usuario">
    </div>
</header>
